		<br>
		<h2> This is an example progam! Do not use real information as it is not encrypted!" </h2>
                <Label for="billingCardNum">Enter Credit Card Information:</label>
		<br><input type="text" class="form-control" placeholder="Card Number" name="billingCardNum" value="{{request.form.billingCardNum }}">
		<br><input type="text" class="form-control" placeholder="Card Date (MM/YY)" name="billingCardDate" value="{{request.form.billingCardDate }}">
		<br><input type="text" class="form-control" placeholder="Card CSV (on back)" name="billingCardCSV" value="{{request.form.billingCardNum }}">
		<br>
		<Label for="billingCardFirst">Enter Credit Holder Information:</label>
		<br><input type="text" class="form-control" placeholder="First Name" name="billingCardFirst" value="{{request.form.billingCardFirst }}">
		<br><input type="text" class="form-control" placeholder="Last Name" name="billingCardLast" value="{{request.form.billingCardLast }}">
		<br><input type="text" class="form-control" placeholder="Street Name" name="billingCardStreet" value="{{request.form.billingCardStreet }}">
		<br><input type="text" class="form-control" placeholder="City" name="billingCardCity" value="{{request.form.billingCardCity }}">
		<br><input type="text" class="form-control" placeholder="State" name="billingCardState" value="{{request.form.billingCardState }}">
		<br><input type="text" class="form-control" placeholder="Zip" name="billingCardZip" value="{{request.form.billingCardZip }}">



